* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2.3fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas: "header"
 "main"
 "footer";
 background-color:#E5D1FA;
  
}
p {
padding: 40px;
padding-top: 10px;
padding-bottom: 1px;
margin: 1px;
}

.header {
  grid-area: header; 
}
header{
  background-color:#E3DFFD ;
}

.logo {
  height: 100px;
  width: 150px;
  padding: 5px; }
  
  nav li a:hover {
    background-color:#B2A4FF;
    border-radius: 20px; }
    
  
  .btn:hover{ 
    background-color: #B2A4FF;
    border-radius: 10px;
  }
.main {
  grid-area: main;
  width: auto;
  height: auto;;
   }
main{
  background-color:  #ECF2FF;
}
.titulo{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
                -23px 0 20px -23px rgba(0, 0, 0, .8),
                23px 0 20px -23px rgba(0, 0, 0, .8),
                inset 0 0 40px rgba(0, 0, 0, .1);
}
h1 {
  color: #bd17d3;
  font-size: xx-large;
  text-align: center;
  font-family: 'Hanalei', cursive;

 }

 h2{
  color: #bd17d3;
 }
.portada{
  border-bottom: #999;
  border-width: 10px;
}



.footer {
  grid-area: footer;
  background-color: #FFF4D2;
  }
  footer ul a{
    text-decoration: none;
    color: #000;
  }
footer ul a:hover{
  background-color: #B2A4FF;
  border-radius: 10px;

}

div img {
  width: 200px;
  height: 300px;
  padding: 0.7rem;
  border: 10px;
  color: #000;
  border-radius: 24px; }

.portada img:hover {
   
   box-shadow: 0 0 12px 15px #B2A4FF ;
  width: 220px;
  height: 320; }
 

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em; }

form li + li {
  margin-top: 1em;
  text-decoration: none;
list-style: none;}

label {
  display: inline-block;
  width: 90px;
  text-align: right; }

input,
textarea {
  width: 300px;
  box-sizing: border-box;
  border: 3px solid #999; }

input:focus,
textarea:focus {
  border-color: #000; }

textarea {
  vertical-align: top;
  height: 5em; }

.button {
  padding-left: 90px; }

button {
  margin-left: .5em; }



iframe {
  width: 250px;
  height: 150px;
  border-radius: 15px; }
i{
  font-size: 18px;
  color: #bd17d3;
}


