
@import "header"; 
@import "main";
@import "footer";
@import  "formulario";
@import "boton";
$colorfondo: #E5D1FA;
$colorfondo2:#e50ce2;
$colortitulos:#bd17d3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color:$colorfondo; 
}





 
      
  
