.footer {
    grid-area: footer;
    background-color: #FFF4D2;
    ul a{
        text-decoration: none;
        color: #000;
        &:hover{
            background-color: #B2A4FF;
            border-radius: 10px;
          
          }
      }
    
      
    }