
@mixin contact{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

}
.form-contact {
  background: #FFF;
  width: 350px;
  display: inline-block;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
}

 .cabecera {
  width: 100%;
  background: #ff16d8;
  overflow: hidden;
  color: white;
     i {  color: white; }
    span {
    font-size: 100px;
    display: block;
    text-align: center;
    padding: 2.5rem;
  }
  
}

.contact {
  padding: .8rem;
  overflow: hidden;
  color: gray;
}

.contact label{ @include contact();}

.contact input{@include contact();}
.contact textarea { @include contact();}
     



.contact input:not([type='submit']), .contact textarea {
  border: none;
  border-bottom: 2px solid #ff165d;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
}

.contact textarea {
  min-height: 100px;
}

input[type='submit'] {
  padding: 10px;
  background: #eb0baf;
  border: none;
  color: white;
  font-size: 20px;
  /* pointer-events: none; */
  cursor: pointer;

}



  
