header{
    background-color:#E3DFFD ;
    .logo {
        height: 100px;
        width: 150px;
        padding: 5px; }
        nav li a:hover {
            background-color:#B2A4FF;
            border-radius: 20px; }
            i{
                font-size: 18px;
                color: #bd17d3;
              }
              .btn:hover{ 
                background-color: #B2A4FF;
                border-radius: 10px;
              } 
  }
