$colorfondo: #E5D1FA;
$colorfondo2:#e50ce2;
$colortitulos:#bd17d3;


main{
    width:75%;
    height: auto;
    background-color:  #ECF2FF;
    h1 {
        color: #bd17d3;
        font-size: xx-large;
        text-align: center;
        font-family: 'Hanalei', cursive;
        font-weight: bold;
      
       }
      
       h2{
        color: #bd17d3;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-decoration: underline;
       }
       .portada img {
        width: 200px;
        height: 300px;
        padding: 0.7rem;
        border: 10px;
        color: #000;
        border-radius: 24px; 
       
        &:hover {
   
            box-shadow: 0 0 12px 15px #B2A4FF ;
            width: 220px;
            height: 320; }}
      

  }
 
  .titulo{
                animation: grow-and-shrink 2000ms;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;

  }
  @keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    // 50%{transform:scale(1.2) ;}
    100% {
      transform: scale(1.4);
    }
  }


i{
    color: #bd17d3;}
